.cabecalho{
   display: flex;
   justify-content: space-between;
   
   
}

.links a{
    padding-left: 1em;
    text-decoration: none;
    color: var(--cor-preta);
}

.titulo{
    color: var(--cor-destaque);
    font-size: 1.5rem;
    
}